<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SHARE Homepage</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">  

</head>
<body style="width: 100%;height: 100%;">
<h1>Welcome to SHARE</h1>

    <div class='container'>
        <input id="submit" type="button" value="Load Data" action="/crowd/sharedata"/>
        <select class="form-control" id="select-share-template">
            
        </select>

      <div class='row'>
        <div class='span8 col-md-12 columns eight large-8'>
                  <h2 id="title">Select an option above</h2>

                  <div id='editor'></div>
                  <button id="save" type="button" class="btn btn-success">Save</button>
        </div>
      </div>
    </div>


<script src="{% static 'js/jsoneditor.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script> 
    
    // other contributor schema
    // email:
    // family:
    // given:
    // middle:

    var base_schema = {
        id: "sharedata",
        title: "SHARE Schema",
        type: "object",
        properties: {
            title: {
                type: "string",
                format: "text",
                title: "Title"
            },
            description: {
                type: "string", 
                format: "textarea", 
                title: "Abstract"
            },
        }
    };

    var share_schema = base_schema;

    var hits;
    $(document.body).on('click', '#submit', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            dataType:'json',
            success: function(response){ 
                hits = response.hits.hits;

                var option;
                var current = "<option value=''>Please select an option</option>";

                for (option in hits) {
                    current = current + "<option value=" + hits[option]._id + ">" + hits[option]._id + "</option>";
                }

                document.getElementById("select-share-template").innerHTML = current;

                jedit(hits);

            },
            async: false
        });
        
    });    



    //console.log(hits);

function jedit(hits) {
    var $editor = document.getElementById('editor');
 
    var schema_data = [];
    var init_schemas = [];
    var titles = [];
    var editor;

    schema_data = {
        type: "object",
        title: "",
        description: "",
        contributors: {
            additionalName: "",
            familyName: "",
            givenName: "",
            name: "",
            email: "",
            family: "",
            given: "",
            middle: ""
        },
    };

    init_schemas = hits;

    var which_schema = 0;

    // this is how the import and export should work
    //var str = JSON.stringify(prereg);
    //console.log(str);
    //console.log(JSON.parse(str));

    // add for single select of check boxes
    JSONEditor.defaults.resolvers.unshift(function(schema) {
        if(schema.type === "array" && schema.items && !(Array.isArray(schema.items)) && schema.uniqueItems && schema.items["enum"] && ['string','number','integer'].indexOf(schema.items.type) >= 0) {
             return "singleselect";       
        }    
    });

    JSONEditor.defaults.editors.singleselect = JSONEditor.defaults.editors.multiselect.extend({      
        build: function() {
            
            var self = this, i;
            if(!this.options.compact) this.header = this.label = this.theme.getFormInputLabel(this.getTitle());
            if(this.schema.description) this.description = this.theme.getFormInputDescription(this.schema.description);

            if((!this.schema.format && this.option_keys.length < 8) || this.schema.format === "checkbox") {
              this.input_type = 'checkboxes';

              this.inputs = {};
              this.controls = {};
              for(i=0; i<this.option_keys.length; i++) {
                this.inputs[this.option_keys[i]] = this.theme.getCheckbox();
                this.select_options[this.option_keys[i]] = this.inputs[this.option_keys[i]];
                var label = this.theme.getCheckboxLabel(this.option_keys[i]);
                this.controls[this.option_keys[i]] = this.theme.getFormControl(label, this.inputs[this.option_keys[i]]);
              }

              this.control = this.theme.getMultiCheckboxHolder(this.controls,this.label,this.description);
            }
            else {
              this.input_type = 'select';
              this.input = this.theme.getSelectInput(this.option_keys);
              this.input.multiple = true;
              this.input.size = Math.min(10,this.option_keys.length);

              for(i=0; i<this.option_keys.length; i++) {
                this.select_options[this.option_keys[i]] = this.input.children[i];
              }

              if(this.schema.readOnly || this.schema.readonly) {
                this.always_disabled = true;
                this.input.disabled = true;
              }

              this.control = this.theme.getFormControl(this.label, this.input, this.description);
            }
            
            this.container.appendChild(this.control);
            var previous;
            this.control.addEventListener("mouseover", function(e) {
                var new_value = [];
                for(i = 0; i<self.option_keys.length; i++) {
                    if(self.select_options[self.option_keys[i]].selected || self.select_options[self.option_keys[i]].checked) {
                        new_value.push(self.select_values[self.option_keys[i]]);
                    }
                }
                previous = new_value;
                   
            });
            this.control.addEventListener('change',function(e) {
              e.preventDefault();
              e.stopPropagation();

              // delete older one using previous
              var new_value = [];
                for(i = 0; i<self.option_keys.length; i++) {
                    if(self.select_options[self.option_keys[i]].selected || self.select_options[self.option_keys[i]].checked) {

                        var str = '"' + self.select_values[self.option_keys[i]] + '"';
                        var blah = self.select_values[self.option_keys[i]];
                        if (previous.indexOf(blah) != -1) {
                            self.select_options[self.option_keys[i]].checked = false;
                        }
                         else { 
                            new_value.push(self.select_values[self.option_keys[i]]);
                        }
                    }
                }
              self.updateValue(new_value);
              self.onChange(true);
            });
        },
    });

    var loadData = function(schemas, arrays, which) {
        share_schema = base_schema;
        titles = [];
        // incorrect data input
        if (schemas[which].length > arrays.length) {
            alert("The amount of data is inconsistent. Unable to load.");
            return;
        } if (schemas[which].length <= 0) {
            alert("There is no data to load.");
            return;
        }

        var keys = Object.keys(schemas[which]._source);

        //console.log(schemas[which]._source);
        //console.log(keys);
        var sources = ["title", "description", "contributors"];
        var field;
        var index = -1;
        for (field in sources) {
            var f = sources[field];
            index = keys.indexOf(f);
            //console.log(index);
            if (parseInt(index) !== parseInt('-1')) {
                if (f === "contributors") {
                    console.log(schemas[which]._source[f]);
                    if (schemas[which]._source[f].length > 1) {
                        var contrib;
                        for (contrib in schemas[which]._source[f]) {

                            var new_contributor = "contributors" + contrib;

                            share_schema.properties[new_contributor] = {
                                title: new_contributor,
                                format: "text",
                                type: "object",
                                properties: {
                                    additionalName: {
                                        type: "string",
                                        format: "text",
                                        title: "Additional Name",
                                        hidden: false
                                    },
                                    familyName: {
                                        type: "string",
                                        format: "text",
                                        title: "Family Name",
                                        hidden: false
                                    },
                                    givenName: {
                                        type: "string",
                                        format: "text",
                                        title: "Given Name",
                                        hidden: false
                                    },
                                    name: {
                                        type: "string",
                                        format: "text",
                                        title: "Name",
                                        hidden: false
                                    },
                                    email: {
                                        type: "string",
                                        format: "text",
                                        title: "Email",
                                        hidden: true
                                    },
                                    family: {
                                        type: "string",
                                        format: "text",
                                        title: "Family Name",
                                        hidden: true
                                    },
                                    given: {
                                        type: "string",
                                        format: "text",
                                        title: "Given Name",
                                        hidden: true
                                    },
                                    middle: {
                                        type: "string",
                                        format: "text",
                                        title: "Middle Name",
                                        hidden: true

                                    }
                                },
                            };

                            schema_data[new_contributor] = {
                                additionalName: "",
                                familyName: "",
                                givenName: "",
                                name: "",
                                email: "",
                                family: "",
                                given: "",
                                middle: ""
     
                            };

                            
                            //console.log(schema_data[new_contributor].email); 
                            if (schemas[which]._source[f][0].additionalName === "") {
                                schema_data[new_contributor].email = schemas[which]._source[f][contrib].email;
                                schema_data[new_contributor].family = schemas[which]._source[f][contrib].familyName;
                                schema_data[new_contributor].given = schemas[which]._source[f][contrib].givenName;
                                schema_data[new_contributor].middle = schemas[which]._source[f][contrib].middle;
                                schema_data[new_contributor].name = schemas[which]._source[f][contrib].name;

                                share_schema.properties[new_contributor].properties.additionalName.hidden = true;
                                share_schema.properties[new_contributor].properties.familyName.hidden = true;
                                share_schema.properties[new_contributor].properties.givenName.hidden = true;
                                share_schema.properties[new_contributor].properties.name.hidden = true;

                                share_schema.properties[new_contributor].properties.email.hidden = false;
                                share_schema.properties[new_contributor].properties.family.hidden = false;
                                share_schema.properties[new_contributor].properties.given.hidden = false;
                                share_schema.properties[new_contributor].properties.middle.hidden = false;

                            } else {
                                schema_data[new_contributor].additionalName = schemas[which]._source[f][contrib].additionalName;
                                schema_data[new_contributor].familyName = schemas[which]._source[f][contrib].familyName;
                                schema_data[new_contributor].givenName = schemas[which]._source[f][contrib].givenName;
                                schema_data[new_contributor].name = schemas[which]._source[f][contrib].name;
                            }

                        }
                    }

                    //console.log(share_schema);
                    
                    
                } else {
                    schema_data[f] = schemas[which]._source[f];
                }
                
                //console.log(schema_data[f]);
            }
            
        }   

        //console.log(schema_data);

        // load nav bar -- need to account for situations when there is only one page (take away prev and next)
        // var tabs = '<li><a id="prev" href="#" aria-label="Previous"><span aria-hidden=true>&laquo;</span></a></li>';
        // var pages;
        // for (pages in schemas[which]._source) {
        //     if (pages === "description") {
        //         console.log(schema_data["description"]);
        //         //schema_data.description = schemas[which]._source.pages;
        //     } else if (pages === "title") {
        //         console.log(schema_data["title"]);
        //     }
        //     titles.push(pages);
        //     tabs = tabs + '<li><a id="tab' + pages + '" href="#">' + pages + '</a></li>';
        // }

        // tabs = tabs + '<li><a id="next" href="#" aria-label="Next"><span aria-hidden=true>&raquo;</span></a></li>';

        // document.getElementById("myNavBar").innerHTML = tabs;

        //console.log(titles[1]);

        // load the data for the first schema and display
        if(editor) editor.destroy();
        editor = new JSONEditor($editor,{
            schema: share_schema,
            theme: 'bootstrap3',
            disable_collapse: true,
            disable_edit_json: true,
            disable_properties: true,
            no_additional_properties: true
        });
        editor.setValue(schema_data);
        window.editor = editor;
    };

    // called when switches pages
    var reload = function(schemas, data, num, which) {
        if(editor) editor.destroy();
        editor = new JSONEditor($editor,{
            schema: share_schema,
            theme: 'bootstrap3',
            disable_collapse: true,
            disable_edit_json: true,
            disable_properties: true,
            no_additional_properties: true
        });
        editor.setValue(schema_data);
        window.editor = editor;
    };


    // need to update so that it doesn't register when the top nav bar is clicked
    $(document.body).on('click', 'a', function() {
        var index = 0;
        var clicked = this.id;
        if (clicked === 'prev') {
            index = titles.indexOf(editor.options.schema.title);
            if (index === 0) {
                reload(init_schemas, schema_data, 0, which_schema);
            } else {
                reload(init_schemas, schema_data, parseInt(index) - 1, which_schema); 
            }
        } else if (clicked === 'next') {
            index = titles.indexOf(editor.options.schema.title);
            var max = init_schemas[which_schema].length - 1;
            if (index === max) {
                reload(init_schemas, schema_data, max, which_schema);
            } else {
                reload(init_schemas, schema_data, parseInt(index) + 1, which_schema); 
            }
            
        } else {
            var id = clicked.split("tab");
            reload(init_schemas, schema_data, id[1], which_schema);
        }

        // this doesn't really work...needs to add query string to url without page refresh
        //window.history.pushState('container', editor.options.schema.title, window.location.href + '?' + editor.options.schema.title);
        
    });

    // get schema that was selected by user
    $(document.body).on('change', "#select-share-template", function() {  
        var $this = $(this);
        var val = $this.val();
        var tempName = val.replace(/_/g , " ");

        if (val !== '') {
            document.getElementById("title").innerHTML = tempName;

            var schema;
            for (schema in init_schemas) {
                if (init_schemas[schema]._id === val) {
                    which_schema = schema;
                    loadData(init_schemas, schema_data, which_schema);
                } 
            }
            
            //reload(init_schemas, schema_data, 0);
        } else {
            document.getElementById("title").innerHTML = "Select an option above";
        }
    });

    document.getElementById('save').onclick = function () {
        var schema;
        var value;
        for (schema in init_schemas[which_schema]) {
            if (init_schemas[which_schema][schema].title === editor.options.schema.title) {
                for (value in editor.getValue()) {
                   schema_data[schema][value] = editor.getValue()[value];
                }
            }
        } 
    };

};
</script>

<div style="position: relative">
    <p style="position: fixed; bottom: 0; width:100%;">
        <strong>COS</strong>
    </p>
</div>

</body>
</html>